body {
    background-color: #80b3ff;
}

p { display:block;}



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}




.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown option:hover {background-color: #ddd}

.show {display:block;}


.col1 {
	width:500px;
}
.midcol {
	width:110px;
	text-align:right;
	/* padding-right:2px; */
}
/*
#commname {
	width: 1050px;
}*/


table {
   width: 80%;
   background-color:white;
   border-right:1px solid black;
   border-left:1px solid black;
	
}




th, td {
    /*border: 1px solid black;*/
    height: 20px;
    line-height: 20px;
    border-collapse: collapse;
    padding: 4px;
}

head tr td {
	border-right: 1px solid black;	
}

tr td {
	border-right: 1px solid black;	
}

#years {
	font-weight: bold;
}

.toprow {
	border-top: 1px solid black;
}

.botrow {
	border-bottom: 1px solid black;
}
/* The following takes aligns the columns by accounting for the scroll bar */
.gap {
	width: 13px;
}


table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 2px solid black;
}


table.scroll tbody,
table.scroll thead { display: block; }



table.scroll tbody {
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody { border-top: 4px solid black; }


tbody td, thead th {
    /* width: 20%; */ /* Optional */
    border-right: 1px solid black;
    /* white-space: nowrap; */
}
/*
tbody td:last-child, thead th:last-child {
    border-right: none;
}*/

.green {
	color:green;
	font-weight:bold;
}
.red {
	color:red;
	font-weight:bold;
}

#regions_div {width:80%; height:70%; margin:0 auto; text-align:left; display:block;
}
    


/* The following styles are for the buttons at the bottom of the page */
.button {
    background-color: grey;
	border-radius: 12px;
    border: none;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.button1 {
    background-color: #3385ff; 
    color: white; 
    border: 2px solid #008CBA;
}

.button1:hover {
    background-color: white;
    color: #3385ff;
}

button#mainbutton {
	
}
