
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}




.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown option:hover {background-color: #ddd}

.show {display:block;}

.col1 {
	width:500px;
}
.midcolumn {
	width:110px;
}
/*
#commname {
	width: 1050px;
}*/


table {
   width: 80%;
}


th, td {
    /*border: 1px solid black;*/
    height: 30px;
    line-height: 30px;
    border-collapse: collapse;
    padding: 2px;
}

thead tr td {
	border-right: 1px solid black;	
}

tr td {
	border-right: 1px solid black;	
}

#years {
	font-weight: bold;
}

.toprow {
	border-top: 1px solid black;
}

.botrow {
	border-bottom: 1px solid black;
}


table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }



table.scroll tbody {
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody { border-top: 8px solid black; }


tbody td, thead th {
    /* width: 20%; */ /* Optional */
    border-right: 1px solid black;
    /* white-space: nowrap; */
}
/*
tbody td:last-child, thead th:last-child {
    border-right: none;
}*/
